<style>
  .cont_iner {
    width: 98%;
    margin: 0px auto;
    padding: 3rem 0px;
  }

  .top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top_btn button {
    background: unset;
    border: none;
    padding: 8px 10px;
    color: #fff !important;
  }

  .top_btn button a {
    color: #fff;
    text-decoration: none;
  }

  .top_btn {
    margin-bottom: 0;
    padding-bottom: 120px;
  }

  .table {
    width: 90%;
    max-width: 90%;
    margin: 20px 30px 50px;
  }

  td button {
    border: none;
    color: #fff !important;
    outline: none;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }

  table.table th,
  td {
    border: 1px solid lightgray;
  }

  .table>caption+thead>tr:first-child>td,
  .table>caption+thead>tr:first-child>th,
  .table>colgroup+thead>tr:first-child>td,
  .table>colgroup+thead>tr:first-child>th,
  .table>thead:first-child>tr:first-child>td,
  .table>thead:first-child>tr:first-child>th {
    border-top: 1px solid lightgray !important;
  }

  .pagination>.active>a,
  .pagination>.active>a:focus,
  .pagination>.active>a:hover,
  .pagination>.active>span,
  .pagination>.active>span:focus,
  .pagination>.active>span:hover {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #000000 !important;
    border-color: #000000 !important;
  }

  .pagination {
    display: flex !important;
    justify-content: flex-end !important;
    margin-right: 170px;
  }

  .pagination>li>a,
  .pagination>li>span {
    color: #000 !important;
  }

  .h1,
  .h2,
  .h3,
  h1,
  h2,
  h3 {
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 50px;
  }
</style>
<script> localStorage.setItem("currentUser", "<%= userid%>") </script>
<%- include('../partials/head') %>

<body>
  <% include ../partials/sidebar %>
  <div class="main-content">
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/"><b>EDIT USER</b></a>

      </div>
    </nav>
    <%-  include('../partials/header') %>
    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
            </div>
            <div class="table-responsive">
              <form role="form" action="/users/edit" method="POST">

                <% if(typeof(err)!='undefined') { %>
                <div class="alert"
                  style="margin-left: 250px; margin-right: 250px; background-color: #A4B1F9; color: black"><%= err %>
                  <span class="close" onclick="this.parentElement.style.display='none';"
                    aria-hidden="true">&times;</span>
                </div>
                <%}%>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" name="userId"  type="hidden" value="<%= _id %>" required>
                <input type="text" name="name" onkeypress="return (event.charCode > 64 && 
                      event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" placeholder="Name"
                  value="<%= name %>" class="form-control" required>
            </div>
            <% if (locals.messages && messages.errors && messages.errors.name) { %>
            <strong class="invalid-feedback" style="display: block"><%= messages.errors.name %></strong>
            <% } %>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
              </div>
              <input class="form-control" name="email" placeholder="Email" type="email"
                pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{2}[a-zA-Z]{3,})"
                value="<%= email %>" required>

            </div>
            <% if (locals.messages && messages.errors && messages.errors.email) { %>
            <strong class="invalid-feedback" style="display: block"><%= messages.errors.email %></strong>
            <% } %>
          </div>
          <div class="form-group">
            <div style="padding-left: 0px; padding-right: 0px;">
              <select name="role" id="ddlViewBy" class="form-control" onchange="onChange()" placeholder="User Role"
                value="<%= role %>">
                <option value="Developer" id="developer" style="padding-left: 0px; padding-right: 18px; width: 38%;">
                  Developer</option>
                <option value="Sales" id="sales" style="padding-left: 0px; padding-right: 18px; width: 38%;">Sales
                </option>
                <option value="PM" id="pm" style="padding-left: 0px; padding-right: 18px; width: 38%;">PM</option>
                <option value="Accounts" id="accounts" style="padding-left: 0px; padding-right: 18px; width: 38%;">
                  Accounts</option>
              </select>
            </div>
          </div>
          <% if (locals.messages && locals.messages.databaseError) { %>
          <strong class="invalid-feedback" style="display: block"><%= messages.databaseError %></strong>
          <% } %>
          <div class="text-center">
            <input class="btn btn-primary mt-4" type="submit" />
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>
</html>