<html lang="en">
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Optional JS -->
    <script src="/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="/js/argon.min.js?v=1.0.0"></script>
<style>
  .h2 {
    font-size: 18px !important;
    line-height: normal !important;
  }

  table th,
  table td,
  table tr {
    border: solid 1px #ddd !important;
  }

  @media(max-width:1200px) {
    .table_row {
      overflow-x: scroll;
    }

    .h2 {
      font-size: 15px !important;
    }
  }

  @media(max-width:991px) {
    .invoice_home_inner_row {
      flex-direction: column;
    }

    .card-header {
      padding: 0 !important;
    }

    .current_balance_div {
      margin-top: 12px;
    }

    .payment_volume_row {
      flex-direction: column;
    }

    .payment_volume_col_right {
      width: 100%;
      margin-top: 20px;
    }

    .payment_volume_col {
      width: 100%;
    }

    .table_container {
      padding: 0 !important;
      margin-top: 2rem;
    }


  }
</style>

<script> localStorage.setItem("currentUser", "<%= userid%>") </script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css" />

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>


<% include ../partials/head %>

<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/header %>

    <div class="container-fluid mt--7">
      <!-- Table -->
      <div class="invoice_main_page">
        <div class="invoice_inner_row">
          <div class="card shadow">
            <div class="card-header border-0">
              <div>
                <div class="invoice_home_inner_row"
                  style="border-bottom: 1px solid lightgray;padding-top: 15px; padding-bottom: 15px; display:flex;align-items:center;justify-content: space-between;margin-bottom: 2rem;padding-bottom: 1rem;">
                  <div class="date-calender" id="reportrange"
                    style="background: #fff;border: 1px solid #ddd;padding: 8px 15px;border-radius: 3px;">
                    <i class="fa fa-calendar"></i>
                    <span><i class="fa fa-caret-down"></i></span>
                  </div>
                  <div class="current_balance_div">
                    <b>Current Balance :</b>
                    <%- Invoices.currency == "USD" ? "$":"₹" %>
                    <% if(totalINR){ %>
                    <label><%= totalINR %></label>
                    <% } else{ %>
                    <label>0</label>
                    <% } %> ,
                    <%=Invoices.currency=="INR"?"₹":"$"%>
                    <% if(totalUSD){ %>
                    <label><%= totalUSD %></label>
                    <% } else{ %>
                    <label>0</label>
                    <% } %>
                  </div>
                </div>
              </div>
              <div class="payment_volume_div">
                <div class="payment_volume_row"
                  style="display:flex;align-items:flex-start;justify-content: space-between;">
                  <div class="payment_volume_col">
                    <div class="card-body" style="border: 1px solid #ddd;">
                      <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                      <span class="h2 font-weight-bold mb-0">Payment Volume in
                        <%=Invoices.currency=="INR"?"₹":"$"%>
                        <% if(totalUSD){ %>
                        <label><%= totalUSD %></label>
                        <% } else{ %>
                        <label>0</label>
                        <% } %>
                        <!-- <%= totalUSD %> -->
                      </span>
                      <br />
                      <span class="h2 font-weight-bold mb-0">Payment Volume in
                        <%- Invoices.currency == "USD" ? "$":"₹" %>
                        <% if(totalINR){ %>
                        <label><%= totalINR %></label>
                        <% } else{ %>
                        <label>0</label>
                        <% } %>
                        <!-- <%= totalINR %> -->
                      </span>
                    </div>
                  </div>
                  <div class="payment_volume_col_right">
                    <div class="card-body" style="border: 1px solid #ddd;">
                      <h5 class="card-title text-uppercase text-muted mb-0"></h5>
                      <span class="h2 font-weight-bold mb-0"> No. Of Payments<br>
                        <%= Invoices.length %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="table_container" style="padding: 1rem 1.5rem;">
              <div class="table_row">
                  <% if(Invoices.length == 0){ %>
                    <h4 style="text-align: center;">No Records Found !</h4>
                    <% } %>
                  <% if(Invoices.length != 0){ %>
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" style="color: #32325d;font-weight: 600;font-size:14px;">Invoice Number</th>
                      <th scope="col" style="color: #32325d;font-weight: 600;font-size:14px;">User Name</th>
                      <th scope="col" style="color: #32325d;font-weight: 600;font-size:14px;">Issue Date</th>
                      <th scope="col" style="color: #32325d;font-weight: 600;font-size:14px;">Due Date</th>
                      <th scope="col" style="color: #32325d;font-weight: 600;font-size:14px;">Currency</th>
                      <th scope="col" style="color: #32325d;font-weight: 600;font-size:14px;">GST</th>
                      <th scope="col" style="color: #32325d;font-weight: 600;font-size:14px;">Total Amount</th>
                    </tr>
                  </thead>
                  <tbody style="border-bottom: 1px solid #ababab;">
                      <% Invoices.forEach((invoice)=>{ %>
                    <tr>
                      <th scope="row">
                        <%= invoice.invoiceno %>
                      </th>
                      <td>
                        <%= invoice.userId.name %>
                      </td>
                      <td>
                        <%= invoice.issuedate %>
                      </td>
                      <td>
                        <%= invoice.duedate %>
                      </td>
                      <td>
                        <%= invoice.currency %>
                      </td>
                      <td>
                        <%- invoice.currency == "USD" ? "$":"₹" %><%= invoice.gst %>
                      </td>
                      <td>
                        <%- invoice.currency == "USD" ? "$":"₹" %><%= invoice.totalamount %>
                      </td>
                    </tr>
                    <%})%>
                  </tbody>
                </table>
                <%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.js"></script>
<script>
  $(document).ready(function () {
    var urlLocation = location.href;
    var startPosition = urlLocation.indexOf("?");
    var query = '';
    var test2 = '';
    var test1 = '';
    if (startPosition < 0) {
      query = '';
    } else {
      query = urlLocation.slice(startPosition);
      query = query.split('&');
      if (query.length) {
        test1 = query['0'].split('start=')[1];
        test2 = query['1'].split('end=')[1];
      }
    }


    var start = test1 ? moment(test1, 'DD/MM/YYYY') : moment().subtract(2, 'days');
    var end = test2 ? moment(test2, 'DD/MM/YYYY') : moment();
    function cb(start, end) {
      $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
    }
    $('#reportrange').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
        'Today': [moment(), moment()],
        'Past 7 Days': [moment().subtract(6, 'days'), moment()],
        'Past 30 Days': [moment().subtract(29, 'days'), moment()],
        'Past 90 Days': [moment().subtract(89, 'days'), moment()]
      }

    }, cb);
    cb(start, end);
  });
  $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
    var url = addParameterToURL('/home', 'start', picker.startDate.format('DD/MM/YYYY'));
    var windowUrl = addParameterToURL(url, 'end', picker.endDate.format('DD/MM/YYYY'));
    window.location = windowUrl;

  });

  function addParameterToURL(_url, _key, _value) {
    var param = _key + '=' + escape(_value);
    var sep = '&';
    if (_url.indexOf('?') < 0) {
      sep = '?';
    } else {
      var lastChar = _url.slice(-1);
      if (lastChar == '&') sep = '';
      if (lastChar == '?') sep = '';
    }

    _url += sep + param;
    return _url;
  }
</script>

</html>