<html>
<script> localStorage.setItem("currentUser", "<%= result._id %>") </script>

<% include ../partials/head %>

<body>
    <% include ../partials/sidebar %>

    <div class="main-content">
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/profile"><b>Profile</b></a>
            </div>
        </nav>
        <%-  include('../partials/header') %>

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header border-0">
                        </div>
                        <div class="profile_main">
                            <ul style="color: white;">
                                <li>
                                    <label for="user_name " style="margin-right: 20px; color: black"> Name -</label>
                                    <input type="text" name="name" class="h4 text-uppercase" value="<%= result.name %>"
                                        style="border: none; text-align: center;" readonly>
                                </li>
                                <li>
                                    <label for="user_email" style="margin-right: 20px; color: black"> Email -</label>
                                    <input type="email" name="email" value="<%= result.email %>"
                                        style="border: none;  text-align: center;" readonly>
                                </li>
                                <li>
                                    <label for="user_role" style="margin-right: 20px; color: black"> Role -</label>
                                    <input type="text" name="role" value="<%= result.role %>"
                                        style="border: none;  text-align: center;" readonly>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Include scripts -->
<% include ../partials/scripts %>

</html>