




<script> if (localStorage.getItem('currentUser')) {

    console.log("somebody loged in");

}
else {
    window.location.replace('/')
}
</script>


<style>
    .cont_iner { width: 98%; margin: 0px auto; padding: 3rem 0px; }
    .top_header { display: flex; justify-content: space-between; align-items: center; }
    .top_btn button { background: unset; border: none; padding: 8px 10px; color: #fff !important; }
    .top_btn button a { color: #fff; text-decoration: none; }
    .top_btn { margin-bottom: 0; padding-bottom: 120px; }
    .table { width: 90%; max-width: 90%; margin: 20px 30px 50px; }
    td button { border: none;  color: #fff !important; outline: none; }
    a:hover { color: #fff;  text-decoration: none; }
    table.table th, td { border: 1px solid lightgray;}

    .table>caption+thead>tr:first-child>td,
    .table>caption+thead>tr:first-child>th,
    .table>colgroup+thead>tr:first-child>td,
    .table>colgroup+thead>tr:first-child>th,
    .table>thead:first-child>tr:first-child>td,
    .table>thead:first-child>tr:first-child>th { border-top: 1px solid lightgray !important; }
    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3; color: #fff !important; cursor: default; background-color: #000000 !important; border-color: #000000 !important;}
    .pagination { display: flex !important; justify-content: flex-end !important; margin-right: 170px;}
  .pagination>li>a, .pagination>li>span {color: #000 !important;}
  .h1, .h2, .h3, h1, h2, h3 { margin-top: 100px; margin-bottom: 0px; margin-left: 50px; }

  </style>
<% include ../partials/head %>
<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main" >
      <div class="container-fluid" >
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/reset-password"><b>CHANGE PASSWORD</b></a>
    
      </div>
    </nav>
    <!-- Top navbar -->
    <!-- Header -->
    <% include ../partials/header %>

    <div class="container-fluid mt--7">
        <!-- Table -->
        <div class="row">
          <div class="col">
            <div class="card shadow">
              <div class="card-header border-0">
              </div>
              <div class="table-responsive" id="admodal">
                  <form class="form-horizontal" method="POST">
                    
                      <input class="form-control" name="userId"  type="hidden" value="<%= _id %>" required>
                      <%= message %>
                    

                          <% if(typeof(err1)!='undefined') { %><div class="alert" style="margin-left: 250px; margin-right: 250px; background-color: #A4B1F9; color: black"><%= err1 %>
                            <span class="close" onclick="this.parentElement.style.display='none';" aria-hidden="true">&times;</span>
                          </div>
                      <%}%>
                          <% if(typeof(err2)!='undefined') { %> <div class="alert" style="margin-left: 250px; margin-right: 250px; background-color: #A4B1F9; color: black"><%= err2 %>
                            <span class="close" onclick="this.parentElement.style.display='none';" aria-hidden="true">&times;</span>
                          </div>
                      <%}%>
                      <% if(typeof(err3)!='undefined') { %> <div class="alert" style="margin-left: 250px; margin-right: 250px; background-color: #A4B1F9; color: black"><%= err3 %>
                        <span class="close" onclick="this.parentElement.style.display='none';" aria-hidden="true">&times;</span>
                      </div>
                  <%}%>
                  <% if(typeof(err4)!='undefined') { %> <div class="alert" style="margin-left: 250px; margin-right: 250px; background-color: #A4B1F9; color: black"><%= err4 %>
                    <span class="close" onclick="this.parentElement.style.display='none';" aria-hidden="true">&times;</span>
                  </div>
              <%}%>

           
                          <div class="login">
                  <div class="form-group">
                     
                      <div class="email_input">
                       <input type="password" name="oldpassword" class="form-control" id="oldpassword" placeholder="Enter Old Password" required>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="email_input">
                          <input type="password" name="newpassword" class="form-control"  id="newpassword" placeholder="Enter New Password(character must be 8-15)" minlength="8" maxlength="15" required>
                      </div>
                  </div>
                      <div class="email_input">
                          <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" placeholder="Confirm New Password" minlength="8" maxlength="15"  required>
                      </div>
                  </div>
      
                  <div class="text-center">
                      <button  type="submit" id="submit" class="btn btn-primary mt-4">Submit</button>
                  </div>
                  
                  </div>
                </form>
              </div>
             
            </div>
          </div>
        </div>
    
</div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>
  <!-- Include scripts -->
  <% include ../partials/scripts %>

  <script>
      //   var isValidated  =false
  function check(e) {
    e.preventDefault()
    console.log(document.getElementById("confirmpassword").nodeValue)
    return false
  }

  function comparepassword() {
    if (document.getElementById("newpassword").value == document.getElementById("confirmpassword").value && newpassword.value.length >= 8 && newpassword.value.length<=15) {
      $("#submit").removeAttr("disabled");
      return true
    }
    else {
      $("#submit").attr("disabled");
      console.log('Didnt Matched')
    }
  }
  </script>


</body>









